<html>

    <head>
        <title>Online Calculator</title>
    </head>

    <body>
        <h1>Addition</h1>

            <form action="/addition" method="POST">

                <input type="number" name="first_add" placeholder="1st number"> +
                <input type="number" name="second_add" placeholder="2nd number">

                <button type="submit">Calculate</button>
            </form>

        <h1>Subtraction</h1>

            <form action="/subtraction" method="POST">

                <input type="number" name="first_sub" placeholder="1st number"> -
                <input type="number" name="second_sub" placeholder="2nd number">

                <button type="submit">Calculate</button>
            </form>

        <h1>Multiplication</h1>

            <form action="/multiplication" method="POST">

                <input type="number" name="first_mul" placeholder="1st number"> *
                <input type="number" name="second_mul" placeholder="2nd number">

                <button type="submit">Calculate</button>
            </form>

        <h1>Division</h1>

            <form action="/division" method="POST">

                <input type="number" name="first_div" placeholder="1st number"> /
                <input type="number" name="second_div" placeholder="2nd number">

                <button type="submit">Calculate</button>
            </form>
    </body>
</html>
