<!DOCTYPE html>
<html>
    <head>
        <title>Search Result</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
    <body>
        <h3>These are the movies containing your keyword...</h3>
        <br><br>
        <h3 id="question">Which movie was released in <%= @answer[0] %>?</h3>

        <% @movie.each do |movie| %>
        <img width="400px" src="<%= movie.poster %>"/>
        <% end %>

    </body>
</html>


